.profileIconMain{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profileIconMain.student{
  border: 2px solid rgb(102, 70, 231);
}
.profileIconMain.teacher{
  border: 2px solid red;
}
.profileIconImage{
  max-width: 100%;
}

.profileIconType{
  position: absolute;
  bottom: -5px;
  left: -5px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid var(--background-color);
}

.profileIconType.student{
  background-color: rgb(102, 70, 231);
}
.profileIconType.teacher{
  background-color: red;
}
@media screen and (max-width: 600px) {
  .profileIconMain{
    display: none;
  }
}